.ui-widget{
    font-size: 12px !important;
}

.ui-layout-north {
    z-index:20 !important;
    overflow:visible !important;
}

.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}


.customPanelGrid{
    width: 100%;
}

.customPanelGrid .ui-panelgrid-content {
    align-items: center;
}

.forty-percent {
    width: 40%;
}

.sixty-percent {
    width: 60%;
}

.top-alignment {
    vertical-align: top;
}
